@font-face {
    font-family: 'BeastWars';
    src: url('./../fonts/BeastWars.eot');
    src: local('BeastWars'), url('./../fonts/BeastWars.woff') format('woff'), url('./../fonts/BeastWars.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden !important;
}

.background{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: -1;
    background: url('./../images/aff.jpg');
    background-size: cover;
    background-position: center !important;
    -webkit-filter: sepia(100%) brightness(50%) contrast(60%);
}

.body__container{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.body_container{
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: none;
}

.body__container h1{
    padding: 10px;
    margin-top: 10vh;
    color: white;
    border:1px solid transparent;
    font-size: 70px;
    letter-spacing: 3px;
    font-family: 'BeastWars' !important;
}

.body__container h2{
    padding: 10px;
    display: block;
    margin-top: 40vh;
    color: white;
    border:1px solid transparent;
    font-size: 70px;
    letter-spacing: 3px;
    font-family: 'BeastWars' !important;
}

.body__container h3{
    padding: 10px;
    display: block;
    margin-top: 5vh;
    color: white;
    border:1px solid transparent;
    font-size: 70px;
    letter-spacing: 3px;
    font-size: 20px;
    font-family: 'BeastWars' !important;
}

.hear_the_story{
    margin-top: 20vh;
    color: white;
    border:1px solid transparent;
    padding: 20px;
    font-size: 30px;
    font-style: italic;
    display: block;
    background: rgb(26, 204, 145);
    font-family: 'BeastWars' !important;
    border-radius: 30%;
    margin: 20vh auto;
    cursor: pointer;
    outline: none;
}

.story_mode{
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
    z-index: 2;
    margin-top: 0vh;
    display: none;
}

.story_frame{
    min-height: 300px;
    padding: 5px;
    border:1px solid rgba(0,0,0,0.1);
    box-shadow: 0 0 100px rgba(0,0,0,0.1);
    border-radius: 2px;
    background: white;
    position: absolute;
    top: 50%;
    left:50%;
    width: 380px;
    z-index: 3;
    transform: translate(-50%,-50%) rotate(-2.5deg);
}

.story_frame_cont{
    width: 100%;
    margin: 0px auto;
    -webkit-filter: sepia(100%) brightness(50%) contrast(60%);
    height: 100vh;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    position: relative;
    z-index: 3;
}

.change_frame_layer{
    width: 100%;
    position: absolute;
    top: 0;
    height: 100vh;
    -webkit-filter: sepia(100%) brightness(50%) contrast(60%);
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    z-index: 2;
}

.typed-cursor{
    display: none !important;
}

.story_frame img{
    width: 100%;
    height: 240px;
    border:1px solid rgba(0,0,0,0.1);
    box-shadow: 0 0 100px rgba(0,0,0,0.1);
}

.story_text{
    line-height: 20px;
    font-size: 12px;
    padding: 0 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkslategray 
}

.story_title{
    width: 100%;
    position: relative;
    z-index: 5;
    margin-top: 5px;
    margin-left: -5px;
    padding: 10px 0px 10px 10px;
    border-radius: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lightslategray;
    font-size: 13px;
    box-shadow: 2px 120px solid rgba(0,0,0,0.02);
}

.story_title:before{
    position: absolute;
    content: "";
    width: 100%;
    top: -2px;
    height: 3px;
    box-shadow: 2px 120px solid rgba(0,0,0,0.02);
    z-index: -1;
    left: 0;
}

.story_logo{
    position: absolute;
    top: 20px;
    left: 30px;
    font-family: 'BeastWars' !important;
    z-index: 3;
    font-size: 25px;
    color: whitesmoke;
}

.next_story,.prev_story{
    position: absolute;
    top: 50%;
    transform: translate(-50%,-90%);
    left: 10%;
    z-index: 5;
    cursor: pointer;
}

.next_story{
    left: 90%;
    transform: translate(-50%,-10%);
}

.next_story i,.prev_story i{
    font-size: 40px;
    color: white;
    border: 1px solid white;
    padding: 10px 15px;
    border-radius: 50%;
    text-align: center;
}

@media screen and (max-width:800px){
    .body__container h2{
        margin-top: 40vh;
   }
    .hear_the_story{
        margin-top: 10vh;
        font-family: 'slenmini' !important;
   }
}

@media screen and (max-width:500px){
    .story_frame{
        width: 100%;
        transform: translate(-50%,-50%) scale(0.88) rotate(-2deg);
   }
    .story_logo{
        top: 25px;
        left: 20px;
   }
    .next_story,.prev_story{
        position: absolute;
        top: 90%;
        transform: translate(-50%,60%);
   }
    .next_story{
        left: 90%;
        transform: translate(-50%,60%);
   }
    .next_story i,.prev_story i{
        font-size: 20px;
        padding: 10px 11px;
   }
    .body__container h2{
        margin-top: 30vh;
   }
}

@media screen and (max-width:380px){
    .story_frame{
        width: 100%;
        transform: translate(-50%,-50%) scale(0.92) rotate(-0.5deg);
   }
    .next_story,.prev_story{
        position: absolute;
        top: 90%;
        transform: translate(-50%,30%);
   }
    .next_story{
        left: 90%;
        transform: translate(-50%,30%);
   }
}

/* Animations */

.highIn{
    animation: highIn 1s linear forwards;
}

@keyframes highIn{
    from{
        opacity: 0.3;
   }
    to{
        opacity: 1;
   }
}

.lowIn{
    animation: lowIn 0.8s linear forwards;
}

@keyframes lowIn{
    from{
        opacity: 1;
   }
    to{
        opacity: 0.2;
   }
}
